
/* 
    Created on : Jan 18, 2014, 2:44:21 AM
    Author     : yuankunluo
*/
body {
    font-family: serif,sans-serif;
    font-weight: normal;
    color: black;
    background: white;
    margin: 0;
}
h1,h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-transform: capitalize;
    display: block;
    border-bottom: thin solid lightgrey;
    clear: both;
}
a,a:link,a:visited{
    font-family: serif ,sans-serif;
    display:inline;
    color: black;
    text-decoration: underline dashed;
}
a:hover,a:active {
    background-color: lightgrey;
}
/* 
    logo
*/
#header {
    background: gray;
    padding-left: 10%;
    padding-right: 10%;
}
a.logo:active,a.logo:visited,a.logo:hover,a.logo:link, a.logo  {
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline;
    background: none;
    text-shadow: 2px 2px black;
}

 /*
    navi
 */
ul.navi {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0.3em;
    background: white;
    border-left: thin black solid;
    border-right: thin black solid;
    border-bottom: thick gray solid;
}
li.navi {
    display: inline;
    margin-left: 1em;
    border-bottom: thick solid white;
}
li.navi:hover{
  
    border-bottom: thick solid gray;
}
a.navi, a.navi:link, a.navi:visited {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: larger;
    text-decoration: none;
}
a.navi:hover, a.navi:active {
    color: gray;
    background: none;
}

/* 
    content
*/
#content {
    padding: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background: white;
    border-left: thin black solid;
    border-right: thin black solid;
    border-bottom: thin black solid;
}

div.news_short {
    display: block;
    border-bottom: thin lightgrey dashed;
}

img.news_short{
    width: 80px;
    height: 60px;
    margin: 0.2em;
    float: left;
    border: thin lightgrey solid;
    padding: 0.1em;
}
span.time {
    color: gray;
    position: relative;
    border: thin solid lightgrey;
}
span.count{
    position: relative;
    float: right;
    display: block;
    border: thin solid lightgrey;
}
span.reporter {
    
}
span.sport {
    font-weight: bold;
    position: relative;
    float: right;
    text-transform: capitalize;
}
p.news{
    display: block;
    text-align: justify;
    font-size: medium;
    line-height: 150%
}
img.news {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
/* 
    news
*/
#images {
    margin: 1em;
    background: lightgrey;
    alignment-adjust: central;
    text-align: center;
}

/* 
    fotter
*/
#fotter {
    margin-left: 10%;
    margin-right: 10%;
    background: black;
    color: white;
}
/* 
    table
*/
table.result {
    font-weight: normal;
    font-family: serif;
    font-size: medium;
    width: 100%;
    alignment-adjust: central;
    border: thin gray solid;
}
th.result {
    text-transform: uppercase;
    background: lightgrey;
}
td.result {
    text-transform: capitalize;
}
/* 
    form
*/
.news_title {
    font-size: x-large;
    width: 100%;
}
option {
    text-transform: capitalize;
}
form.add_event {
    font-size: large;
}
fieldset {
    margin: 0.5em;
}
label {
    text-transform: capitalize;
    margin: 0.3em;
}
/*
    add_athlets
*/
div.add_athletes {
    border-bottom: dashed lightgray thin;
    padding-bottom: 1em;
    padding-top: 1em;
}
span.ranking {
    clear: left;
    position: relative;
    display: block;
    float: right;
    font-size: x-large;
    border: solid lightgray thin;
    padding: 0.5em;
    margin-right: 1em;
    width: 4em;
}
span.ranking_g {
    clear: left;
    position: relative;
    display: block;
    float: right;
    font-size: x-large;
    border: solid lightgray thin;
    padding: 0.5em;
    margin-right: 1em;
    width: 4em;
    background: gold;
}
span.ranking_s {
    clear: left;
    position: relative;
    display: block;
    float: right;
    font-size: x-large;
    border: solid lightgray thin;
    padding: 0.5em;
    margin-right: 1em;
    width: 4em;
    background: silver;
}
span.ranking_b {
    clear: left;
    position: relative;
    display: block;
    float: right;
    font-size: x-large;
    border: solid lightgray thin;
    padding: 0.5em;
    margin-right: 1em;
    width: 4em;
    background: burlywood;
}
span.ath_nr {
    clear: left;
    position: relative;
    display: block;
    float: right;
    font-size: large;
    border:dashed lightgray thin;
    padding: 0.5em;
    margin-right: 1em;
    width: 4em;
    background: antiquewhite;
}
textarea {
    font-size: large;
    width: 100%;
    height: 20em;
    overflow-y: scroll
}
button, a.button {
    margin: 0.3em;
    padding: 0.2em;
    font-size: x-large;
}
/*  
    search block
*/
form.top_search {
    margin-top: 0.2em;
    display: block;
}
input.top_search {
    font-size: larger;
}
/*
    div helper
*/
div.pics {
    text-align: center;
}
div.error {
    padding: 1em;
    background: lightcoral;
    display: block;
    border: dashed red thin;
}
div.tipp {
    padding: 1em;
    background: lightpink;
    display: block;
    border: dotted red thin;
    margin-top: 1em;
    margin-bottom: 1em;
}
p.tipp {
    padding: 1em;
    background: lightpink;
    display: block;
    border: dotted red thin;
    margin-top: 1em;
    margin-bottom: 1em;
}
div#validator {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
img.news_image {
    padding: 0.5em;
    display: block;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
}
/*
    comment
*/
textarea.comment{
    height: 4em;
    width: 90%;
    font-size: large;
}
img.comment {
    clear: left;
    position: relative;
    float: left;
    max-width: 10%;
    border: thin black solid;
    padding: 0.2em;
    background: white;
}
img.photo {
    clear: right;
    position: relative;
    float: right;
    max-width: 50%;
    border: thin black solid;
    padding: 0.2em;
    background: white;
}
p.comment {
    text-align: justify;
    display: block;
    background: white;
    padding: 1em;
}
p.comment_user {
    display: block;
    padding-left: 11%;
}
div.comment {
    padding: 0.2em;
    margin: 0.2em;
    background: #efefef;
    border-bottom: thin lightgrey dashed;
}
em.comment {
    display: block;
    border-bottom: thin black dotted;
}
span {
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}
p.pic_name {
    font-size: small;
    text-align: center;
}
p.pic_uploader {
    font-size: small;
    font-weight: bold;
}