
/* 
    Created on : Jan 18, 2014, 2:44:21 AM
    Author     : yuankunluo
*/
body {
    font-family: serif,sans-serif;
    font-weight: normal;
    color: black;
    background: white;
    margin: 0;
}
h2, h3, h4, h5, h6 {
    font-family: serif ,sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    border-bottom: thin solid lightgray;
}
a,a:link,a:visited{
    display:inline;
    font-weight:bold;
    color: black;
    text-decoration: underline;
}
a:hover,a:active {
    background-color: lightgray;
}

#header {
    background: gray;
    padding-left: 10%;
    padding-right: 10%;
    margin:0;
}
a.logo:active,a.logo:visited,a.logo:hover,a.logo:link, a.logo  {
    width: 60%;
    height: 80%;
    font-size: 2.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline;
    background: none;
    text-shadow: 2px 2px black;
}
form.top_search {
    display: inline;
}
input.top_search {
    border: 1px solid white;
}

div.navi {
    background: white;
    margin: 0;
    border-left: thin black solid;
    border-right: thin black solid;
    border-bottom: thick gray solid;
}
ul.navi {
    list-style-type: none;
}
li.navi {
    display: inline;
    border-bottom: thick solid white;
    padding: 0;
    margin: 1em;
}
li.navi:hover{
    border-bottom: thick solid gray;
}
a.navi, a.navi:link, a.navi:visited {
    text-transform: uppercase;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}
a.navi:hover, a.navi:active {
    color: gray;
    background: none;
    font-weight: bolder;
}

#content {
    padding: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    background: white;
    border-left: thin black solid;
    border-right: thin black solid;
    border-bottom: thin black solid;
}

div.news_short {
    display: block;
}

img.news_short{
    width: 250px;
    margin: 0.5em;
    float: left;
}
span.news_short {
    color: gray;
    position: relative;
    float: right;
    border: thin solid lightgray;
}

.news {
    display: block;
}
p.news{
    margin:1em;
}
img.news {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#images {
    margin: 1em;
    background: lightgray;
    alignment-adjust: central;
    text-align: center;
}
div.comment {
    padding: 1em;
    margin: 1em;
    background: #efefef;
    border-bottom: thin lightgray dashed;
}
span.comment {
    position:relative;
    float: right;
}
em.comment {
    display: block;
    border-bottom: thin black dotted;
}

#fotter {
    margin-left: 10%;
    margin-right: 10%;
    background: black;
    color: white;
}

table.result {
    font-weight: normal;
    font-family: serif;
    font-size: medium;
    width: 100%;
    alignment-adjust: central;
    border: thin gray solid;
}
th.result {
    text-transform: uppercase;
    background: lightgray;
}
